#Logo {
    height: 35px;
}

#navbar {
    font-family: "Comic Sans MS", cursive, sans-serif;
   
}

.container {
    padding-top: 50px;
    display:  block;
    margin: auto;
}

#navbartext {
    color:white;
    
}

#deleteUserbtn {
    position: absolute;
    right:3%;
    top: 29%;
    padding-bottom: 5px;
}